/* Main Style */
/*******************************************************************/
/*******************************************************************/
@import url(http://fonts.googleapis.com/css?family=Bad+Script);
/*******************************************************************/
/*******************************************************************/
* {

	padding: 0; margin: 0;
	list-style: none;
	text-decoration: none;
}
/*******************************************************************/
/*******************************************************************/
body {

	font-size: 100%;
}
/*******************************************************************/
/*******************************************************************/
.navbar-default {
	
	padding: 0; margin: 0;
	border: none;
	border-radius: 0;
}
/*******************************************************************/
/*******************************************************************/
.plogo {

	position: absolute;
	z-index: 10;
	margin: 0;
}
/*******************************************************************/
/*******************************************************************/
.plogo img {

	width: 60%;
}
/*******************************************************************/
/*******************************************************************/
.account {

	float: right;
	color: white;
	text-align: left;
}
/*******************************************************************/
/*******************************************************************/
.account > ul > li > a {

	display: block;
	cursor: pointer;
	margin-top: 1.6em;
	font-size: 1.6em;
	color: white;
	font-family: 'Bad Script', cursive !important;
}

/*******************************************************************/
/*******************************************************************/
.account > ul > li > ul {
	
	width: 60%;
	padding: 1em;
	position: absolute;
	margin-top: 1.6em;
	border-radius: 0;
	background-color: white;
}
/*******************************************************************/
/*******************************************************************/
.account > ul > li > ul > li > a {

	font-size: .9em;
	color: black;
	text-decoration: none;
	font-family: 'Bad Script', cursive !important;
	font-size: .9em;
}
/*******************************************************************/
/*******************************************************************/
.warpp {

	width: 100%;
	min-height: 100%;
	position: absolute;
	background: url('../img/back.jpg') no-repeat fixed;
	background-size: cover;
	text-align: center;

}
/*******************************************************************/
/*******************************************************************/
#over {

	background-color: black;
	width: 100%;
	min-height: 100%;
	position: absolute;
	z-index: 10;
	opacity: .7;

}
/*******************************************************************/
/*******************************************************************/
.logIn {

	width: 60%;
	position: absolute;
	z-index: 100;
	left: 30%;
	top: 20%;
	text-align: center;
}
/*******************************************************************/
/*******************************************************************/
.logIn .logo img {

	max-width: 40%;
	margin-bottom: 1em;
}
/*******************************************************************/
/*******************************************************************/
.bclose {

	border: none;
	background: none;
	color: black;
	position: absolute;
	right:.5em;
	top: 2px;
	font-size: 2em;
}
/*******************************************************************/
/*******************************************************************/
.checkbox > label {

	font-size: 1.6em;
	color: white;
}
/*******************************************************************/
/*******************************************************************/
#form-btn {

	width: 40%;
	margin: 0 auto;
}
/*******************************************************************/
/*******************************************************************/
.sidebar {

	background-color: #3e3f3a;
	padding: 1em 0;
	height: 95%;
	width:18%;
	position: absolute;
	overflow: auto;
	top:0;
}
/*******************************************************************/
/*******************************************************************/
.sidebar >ul {

	margin-top: 8em;
}
/*******************************************************************/
/*******************************************************************/
.sidebar >ul >li {

	display: block;
	margin: 1em 0;
}
/*******************************************************************/
/*******************************************************************/
.sidebar >ul >li > a {

	color: white;
	font-family: 'Bad Script', cursive;
	font-size: 1.2em;
}
/*******************************************************************/
/*******************************************************************/
.sidebar >ul >li > a:hover {

	color: #212121;
}
.collapse li {

	display: block;
	margin: .2em 0 .2em 2em;
}
.collapse li > a {

	color: white;
	font-family:cursive;
	font-size: 1.2em;
	text-transform: lowercase;
}
/*******************************************************************/
/*******************************************************************/
#content {

	float: right;
	overflow: auto;
	text-align: center;
	margin: 6em auto 1em;
}
/*******************************************************************/
/*******************************************************************/
.field {

	width:40%;
	margin: 1em auto 1em;
	
}
/*******************************************************************/
/*******************************************************************/

/*******************************************************************/
/*******************************************************************/
.footer {

	width: 100%;
	position: absolute;
	height:5%;
	text-align: center;
	bottom:0;
	background-color: #212121;
}
/*******************************************************************/
/*******************************************************************/
.footer > p {

	line-height: 3em;
	color: white;
	margin:0;
	padding: 0;
}








